.back {
    background-color: yellow;
}

.par li:nth-child(even) {
    color: green;
}

.impar li:nth-child(odd) {
    text-transform: uppercase;
}

.head {
    color: red;
}

.italic {
    font-size: 40px;
    border: solid black 1px;
}

.size {
    font-size: 20px;
}

.weight {
    font-weight: bold;
}

.type li:nth-child(-n+3) {
    color: blue;
}

.java {
    background-color: pink;
}

#stack:hover {
    font-weight: bold;
    color: orange;
}

#w3:hover {
    font-weight: bold;
    color: green;
}

#mdn:hover {
    font-weight: bold;
    color: black;
}

#devdocs:hover {
    font-weight: bold;
    color: yellow;
}

#trybe:hover {
    font-weight: bold;
    color: green;
}