.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 30px;
  }
  
  .baloon {
    position: absolute;
    top: 200px;
    left: 230px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 1;
    top: 230px;
    left: 260px;    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 350px;
    left: 500px;    
  }
